# Database
DATABASE_URL="postgresql://postgres:parol@localhost:5432/pos_db?schema=public"
PORT=5000
NODE_ENV=development
DEV_AUTH=false
AUTH_SECRET="replace-with-at-least-32-random-characters"
TELEGRAM_BOT_TOKEN=""
MAIN_ADMIN=""
BOT_HMAC_SECRET="replace-with-at-least-32-random-characters"
